In [78]:
import pandas as pd
import seaborn as sns

In [80]:
k=[4,6,2,9,18,28,32]
k

[4, 6, 2, 9, 18, 28, 32]

In [84]:
pd.Series(k)

0     4
1     6
2     2
3     9
4    18
5    28
6    32
dtype: int64

In [9]:
import numpy as np
a=np.random.randint(20,50,(5,4))
a

array([[46, 34, 48, 25],
       [30, 34, 39, 30],
       [23, 28, 25, 33],
       [38, 28, 45, 41],
       [34, 32, 41, 39]])

In [18]:
a.ndim #no of dimensions

2

In [15]:
sns.get_dataset_names()#returns the datasets present

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [34]:
df=sns.load_dataset('flights')#load is used to store a dataset
df

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [29]:
import pandas as pd
df1=pd.DataFrame(a,columns=['name','age','class','rollno'])
print(df1)

   name  age  class  rollno
0    46   34     48      25
1    30   34     39      30
2    23   28     25      33
3    38   28     45      41
4    34   32     41      39

In [32]:
df2=sns.load_dataset('taxis')
df2

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [42]:
type(df2)

pandas.core.frame.DataFrame

In [52]:
df2.shape #no of rows and columns

(6433, 14)

In [58]:
df2.columns

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')

In [54]:
df2['color'].unique() #unique returns the unique values of objects

array(['yellow', 'green'], dtype=object)

In [96]:
df2['color'].value_counts() #value_counts is used to retur no of values are of that object type

color
yellow    5451
green      982
Name: count, dtype: int64

In [68]:
df2.columns[1]#used to index the columns

'dropoff'

In [66]:
df2.info() #returns the information of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [90]:
l=[4,6,2.3456,9,87.345678]
l

[4, 6, 2.3456, 9, 87.345678]

In [92]:
pd.Series(l)#returns only in one datatype

0     4.000000
1     6.000000
2     2.345600
3     9.000000
4    87.345678
dtype: float64

In [94]:
#the column which contains string info is called categorical data
df2['color']

0       yellow
1       yellow
2       yellow
3       yellow
4       yellow
         ...
6428     green
6429     green
6430     green
6431     green
6432     green
Name: color, Length: 6433, dtype: object

In [100]:
df2['payment'].unique()

array(['credit card', 'cash', nan], dtype=object)

In [102]:
df2['payment'].value_counts()

payment
credit card    4577
cash           1812
Name: count, dtype: int64

In [110]:
df2['fare'].mean() #mean is used only when there is a numerical data

13.091072594434944

In [112]:
df2['fare'].mode()

0    7.5
Name: fare, dtype: float64

In [114]:
df2['fare'].median()

9.5

In [116]:
df2['fare'].var()

133.4441818095617

In [118]:
df2['fare'].std()

11.55180426641491

In [120]:
df2['fare'].min()

1.0

In [122]:
df2['fare'].max()

150.0